.your-cart {
  width: 25%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 11px;
  font-weight: bold;
  div {
    // width: 20px;
  }
}

.cart-buttons {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.items-total {
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.price-total {
  width: 10%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  padding-right: 17%;
}

.checkout {
  background-color: white;
  border: none;
  outline: 1px white solid;
  padding: 10px 50px;
  border-radius: 7px;
  cursor: pointer;
  a {
    font-size: 13px;
    color: #672a4e;
    text-decoration: none;
  }
  &:hover {
    transition: all 1s;
    background-color: #d5fff3;
    outline: 2px solid #820b8a;
  }
}
