.cart {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .title-quantity {
    display: flex;
    // flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
  .cart-items,
  .cart-total {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    border: 0.5px solid #af9ab2;
    box-shadow: 0.5px 0.5px #820b8a;
  }
  .cart-total {
    background-color: #672a4e;
    color: white;
    box-shadow: 1px 1px #d5fff3;
    margin-top: 10px;
  }
  .remove-item {
    width: 15px;
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }
  }
  .cart-title {
    width: 170px;
    font-size: 11px;
    text-align: center;
  }
  .cart-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    width: 5%;
    min-width: 3%;
  }
}
