.product-card {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  border: 0.5px solid #af9ab2;
  height: 325px;
  padding: 10px;
  background-color: white;
  border-radius: 7px;
  &:hover {
    cursor: pointer;
    box-shadow: 0.5px 0.5px #820b8a;
    transform: scale(1.01);
  }
  .jewelery {
    width: 25%;
  }
  .product-title {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
  }
}
.img-wrapper {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 30%;
  }
}

.price-quant {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  gap: 10px;
  .quant-number {
    width: 10px;
    text-align: center;
    font-size: 9px;
  }
  .quant {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    button {
      width: 18px;
      height: 18px;
      border-radius: 7px;
      background-color: white;
      border: 0.5px solid #af9ab2;
      cursor: pointer;
      &:hover {
        background-color: #672a4e;
        color: white;
      }
    }
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  .fa {
    color: #ede8ed;
  }
  .checked {
    color: #820b8a;
  }
  .rating-count {
    font-size: 8px;
    color: grey;
  }
}

.add-to-cart {
  width: 100%;
  font-size: 11px;
  padding: 5px 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #c7ede4;
  &:hover {
    background-color: #d5fff3;
  }
}
