.product-card {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50%;
    height: 40%;
  }
  .jewelery {
    width: 40%;
    height: 30%;
  }
}
