.home {
  margin-top: 80px;
  font-size: 16px;
  // position: relative;
}
.home,
.title,
.custom-shape-divider-bottom-1665083357,
.Carousel__Rail-sc-hyhecw-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.title {
  margin-bottom: 20px;
  z-index: 10;
  color: white;
}

.title p {
  text-transform: uppercase;
  font-size: 10px;
}

.carousel {
  height: 150px;
  width: 150px;
  place-items: center;
}

.Carousel__Container-sc-hyhecw-0 {
  background-color: white;
  padding: 10px;
  border: 0.5px solid #820b8a;
  box-shadow: 1px 1px #c7ede4;
  border-radius: 7px;
  height: 210px;
  width: 150px;
}

.shop-now {
  z-index: 10;
  margin-top: 70px;
  margin-bottom: -70px;
  background-color: #820b8a;
  border: 3px transparent solid;
  color: white;
  padding: 7px 13px;
  border-radius: 7px;
  font-size: 13px;
  box-shadow: 1px 1px white;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: #820b8a;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    border: 3px double #820b8a;
    box-shadow: 1px 1px #820b8a;
  }
}

.custom-shape-divider-top-1665186631 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665186631 svg {
  position: relative;
  display: block;
  width: calc(176% + 1.3px);
  height: 449px;
}

.custom-shape-divider-top-1665186631 .shape-fill {
  fill: #820b8a;
}

@media screen and (max-width: 600px) {
  .home {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .home {
    font-size: 11px;
  }
}
