.home {
  margin-top: 80px;
  font-size: 14px;
  // position: relative;
}
.home,
.title,
.custom-shape-divider-bottom-1665083357,
.Carousel__Rail-sc-hyhecw-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.title {
  margin-bottom: 20px;
  z-index: 10;
}

.title p {
  text-transform: uppercase;
  font-size: 10px;
}

.carousel {
  height: 150px;
  width: 150px;
  place-items: center;
}

.Carousel__Container-sc-hyhecw-0 {
  background-color: white;
  padding: 10px;
  border: 0.5px solid #820b8a;
  box-shadow: 1px 1px #c7ede4;
  border-radius: 7px;
}

.shop-now {
  z-index: 10;
  margin-top: 70px;
  margin-bottom: -70px;
  background-color: #820b8a;
  border: 3px transparent solid;
  color: white;
  padding: 7px 13px;
  border-radius: 7px;
  font-size: 13px;
  box-shadow: 1px 1px white;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: #820b8a;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
    border: 3px double #820b8a;
  }
}
