.header {
  display: flex;
  justify-content: space-between;
  .header-nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
    .nav-link {
      text-decoration: none;
      color: orange;
    }
  }
}
