.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  justify-content: space-between;
  background-color: #ede8ed;
  opacity: 0.9;
  z-index: 100;
  .header-nav ul {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    .nav-link {
      border-bottom: 3px solid transparent;
      padding: 0 0 2px;
      transition: border-bottom 0.75s ease;
      border-radius: 1px;
      color: #820b8a;
      &:hover {
        border-bottom: 3px solid #820b8a;
      }
    }
  }
}

.header-nav {
  display: flex;
  align-items: center;
  li {
    display: flex;
    align-items: center;
  }
}

#icon {
  height: 20px;
}
