.footer {
  grid-area: 3 / 1 / 4 / 2;
  height: 100%;
  margin-top: 10px;
  z-index: 10;
}

.made-by {
  color: #202832;
  // background-color: #202832;
  // opacity: 0.3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 10px;
  padding: 3px;
  border-radius: 7px;
  width: 100%;
  a {
    text-decoration: none;
    color: #202832;
  }
  img {
    height: 12px;
    margin-top: 3px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: rotate(360deg) scale(1.2);
    }
  }
  #github-icon {
    max-height: 16px;
  }
}

.footer {
  margin-bottom: -15px;
}
